@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#login .container #login-row #login-column #login-box {
    margin-top: 100px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9c9c9c;
    background-color: #eaeaea;
    border-radius: 20px;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login input {
    border: 1px solid gray;
    border-radius: 3px;
}
#login
    .container
    #login-row
    #login-column
    #login-box
    #login-form
    #register-link {
    margin-top: -85px;
}
.btn.btn-md.submit__button {
    background: #fff;
    padding: 5px 40px;
    border: 1px solid gray;
}

.search_container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    display: none;
    transition: all 0.5s ease;
}
.search_container.active{
    display: flex;
    justify-content: center;
    align-items: center;
}


.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.button_div {
    width: 100%;
}

.container1.table {
    padding: 20px;
}
.button__div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.container1 .button__div .buttonClass {
    display: inline-block;
    background: white;
    border: 1px solid gray;
    padding: 3px 50px;
    margin-right: 10px;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}
.container1 .button__div .buttonClass.active {
    background: blue;
    color: white;
}
.container1 .button__div .buttonClass.active span {
    border-bottom: 2px solid white;
    width: 100%;
    display: block;
    cursor: pointer;
}
.container1 .search__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.container1 .pagination_button{
    padding: 2px 15px;
    margin-left: 5px;
}
.search__container .search__button{
    background: lightgray;
    text-align: center;
    padding: 2px 15px;
    color: #000;
    font-size: 16px;
    border-radius: 2px;
    margin-left: 5px;
    border: 1px solid gray;
}
.search__container input{
    width: 250px;
    padding: 5px;
    font-size: 12px;
    color: #000;
    outline:none;
    border-radius: 2px;
    border: 1px solid gray;
}
.search__container select{
    width: 200px;
    border: 1px solid gray;
    outline:none;
    border-radius: 2px;
    padding: 2px;
}
.search__container input::placeholder{
    font-size: 13px;
    color: #000;
}
.pagination__element{
    padding: 2px 15px;
    text-decoration: none;
    display: inline-block;
    background: lightgray;
    text-align: center;
    color: #000;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 5px;
    border: 1px solid gray;
}
.pagination__element.hideelement{
    display: none;
}
.search__container .export__element{
    display: flex;
}
.search__container .export__element .search__button.export_button{
    padding: 7px 15px;
}

@media(max-width:900px){
    .container1 .search__container{
        flex-direction: column;
    }
    .container1 .search__container .export__element{
        display: flex;
        justify-content: space-between;
    }
}